* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.container {
    display: flex;
    justify-content: center;
    color: #fff;
    /* padding: 20px 0; */
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex: initial;
    flex-direction: column;
    width: 400px;
    gap: 2px;
    position: fixed;
    top: auto;
    left: 0;
}

.header {
    display: flex;
    width: auto;
    height: 20vh;
    overflow: auto;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: yellow;
    font-size: 20px;
}

h1:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, white, gold);
    height: 3px;
    left: 20px;
    right: 20px;
    width: 0;
    top: 15vh;
    transition: 0.3s;
}

h1:hover:after {
    width: 100%;
}

.main-header,
.small-header {
    flex: 1;
}

.information {
    width: auto;
    height: 70vh;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information>li {
    margin-bottom: 30px;
    list-style-type: none;
}

.information>li:last-of-type {
    margin-bottom: 0;
}

.hide {
    display: none;
    text-align: justify;
    padding: 10px;
}

.header-information:hover+.hide {
    display: block;
    color: gold;
}

.header-information {
    text-decoration: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    transition-duration: 0.8s;
    width: fit-content;
}

.header-information:hover {
    color: chocolate;
    font-weight: bold;
    margin-bottom: 0;
}

strong {
    font-weight: bold;
    color: chocolate;
}

.footer {
    width: auto;
    height: 3vh;
}

a:link,
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: white;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gold;
}

.content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 900px;
    position: relative;
    top: 0;
    left: 200px;
}

.planets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    width: 5em;
    height: 5em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 5em yellow;
}

.earth,
.moon,
.mercury,
.venus,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.moon {
    top: 0;
    right: 0;
    width: 6em;
    height: 6em;
    animation: orbit 2.7s linear infinite;
}

.mercury {
    width: 10em;
    height: 10em;
    animation: orbit 9.5s linear infinite;
}

.venus {
    width: 15em;
    height: 15em;
    animation: orbit 27.5s linear infinite;
}

.earth {
    width: 20em;
    height: 20em;
    animation: orbit 36.5s linear infinite;
}

.mars {
    width: 25em;
    height: 25em;
    animation: orbit 70s linear infinite;
}

.jupiter {
    width: 30em;
    height: 30em;
    animation: orbit 120s linear infinite;
}

.saturn {
    width: 35em;
    height: 35em;
    animation: orbit 220s linear infinite;
}

.uranus {
    width: 40em;
    height: 40em;
    animation: orbit 300s linear infinite;
}

.neptune {
    width: 45em;
    height: 45em;
    animation: orbit 400s linear infinite;
}

.earth::before,
.moon::before,
.mercury::before,
.venus::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 0.7em;
    height: 0.7em;
    background-color: silver;
}

.mercury::before {
    top: 1.1em;
    right: 1.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: gray;
}

.venus::before {
    top: 1.4em;
    right: 1.4em;
    width: 1.5em;
    height: 1.5em;
    background-color: orange;
}

.earth::before {
    top: 1.8em;
    right: 1.8em;
    width: 2em;
    height: 2em;
    background-color: rgb(71, 71, 241);
}

.mars::before {
    top: 2.7em;
    right: 2.7em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(195, 169, 122);
}

.jupiter::before {
    top: 2.6em;
    right: 2.6em;
    width: 3em;
    height: 3em;
    background-color: rgb(141, 112, 75);
}

.saturn::before {
    top: 3em;
    right: 3em;
    width: 3.5em;
    height: 3.5em;
    background-color: beige;
}

.uranus::before {
    top: 4.2em;
    right: 4.2em;
    width: 3em;
    height: 3em;
    background-color: rgb(130, 191, 231);
}

.neptune::before {
    top: 5.2em;
    right: 5.2em;
    width: 3em;
    height: 3em;
    background-color: rgb(189, 238, 238);
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}