* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    color: #fff;
    /* background-color:  #5995DA; */
    padding: 20px 0;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex: initial;
    flex-direction: column;
    /* border: 1px solid #fff; */
    width: 400px;
}

.header {
    display: flex;
    width: auto;
    height: 20vh;
    overflow: auto;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: yellow;
    background-image: url(images/stars-header-backgound.jpg);
    /* border-radius: 50%; */
    /* border: 5px solid yellow; */
    font-size: 20px;
    /* position: fixed; */
}

.main-header, .small-header {
    /* height: 150px; */
    flex: 1;
}

.information {
    /* border: 1px solid white; */
    width: auto;
    height: 70vh;
    text-align: center;
    overflow: auto;
}

.hide {
    display: none;
    text-align: left;
}

.sun-information:hover+.hide {
    display: block;
    color: gold;
}

.footer {
    width: auto;
    height: 3vh;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-three {
    flex: 2;
  }

.content {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    /* border: 1px solid #fff; */
    width: 900px;
}

.planets {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Planets */
.sun {
    /* position: relative; */
    /* top: 15em; */
    /* left: 15em; */
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 5em yellow;
}

/* determines the tails */
.earth,
.moon,
.mercury,
.venus,
.mars,
.jupiter,
.saturn {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.mercury {
    /* top: 10em; */
    /* left: 10em; */
    width: 20em;
    height: 20em;
    animation: orbit 9.5s linear infinite;
}

.venus {
    /* top: 7.5em; */
    /* left: 7.5em; */
    width: 25em;
    height: 25em;
    animation: orbit 27.5s linear infinite;
}

.earth {
    /* top: 5em; */
    /* left: 5em; */
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.mars {
    /* top:2.5em; */
    /* left: 2.5em; */
    width: 35em;
    height: 35em;
    animation: orbit 70s linear infinite;
}

.jupiter {
    /* top: 0em; */
    /* left: 0em; */
    width: 40em;
    height: 40em;
    animation: orbit 120s linear infinite;
}

.saturn {
    /* top:-2.5em; */
    /* left:-2.5em; */
    width: 45em;
    height: 45em;
    animation: orbit 220s linear infinite;
}

.earth::before,
.moon::before,
.mercury::before,
.venus::before,
.mars::before,
.jupiter::before,
.saturn::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

.mercury::before {
    top: 2em;
    right: 2em;
    width: 1.6em;
    height: 1.6em;
    background-color: gray;
}

.venus::before {
    top: 2.4em;
    right: 2.4em;
    width: 2.5em;
    height: 2.5em;
    background-color: orange;
}

.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.mars::before {
    top: 3.7em;
    right: 3.7em;
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(195, 169, 122);
}

.jupiter::before {
    top: 3.6em;
    right: 3.6em;
    width: 4em;
    height: 4em;
    background-color: rgb(141, 112, 75);
}

.saturn::before {
    top: 4em;
    right: 4em;
    width: 4.5em;
    height: 4.5em;
    background-color: beige;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}