body {
    margin: 0;
    height: 50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.header {
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: yellow;
    background-image: url(images/stars-header-backgound.jpg);
    border-radius: 50%;
    border: 5px solid yellow;
    font-size: 20px;
    position:fixed;
    top: 2%;
    right: 75%;
}

.content {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    /* border:10px solid whitesmoke; */
    /* border-radius: 50%; */
    /* border-width: 0.1em 0.1em 0.1em 0.1em; */
}

.sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 5em yellow;
}

.earth,
.moon,
.mercury {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.mercury {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 6.5s linear infinite;
}

.earth::before,
.moon::before,
.mercury::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

.mercury::before {
    top: 8.4em;
    right: 8.4em;
    width: 1.15em;
    height: 1.15em;
    background-color: gray;
}

@keyframes orbit {
   to {
        transform: rotate(360deg);
    }
}

a {
    color: yellow;
}