body {
    margin: 0;
    height: 50vh;
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: black; */
    /* overflow: hidden; */
}

.header {
    grid-area: header;
    grid-row-start: one-start;
    grid-column-start: one;
}

.information {
    grid-area: information;
}

.content {
    grid-area: content;
    position: relative;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [one-start two-start] 1fr 2fr;
    grid-template-rows: [one-start two-start] 1fr 1fr [one-end two-end] 18fr;
    padding: 0px;
    justify-content: stretch;
    align-content: stretch;
    grid-template-areas:
        "header content"
        "information content"
        "information content"
        "information content"
        "footer footer";

}

.item {
    background-color: #444;
    color: #fff;
    font-size: 150%;
    text-align: center;
}